# Compiled class files
*.class

# Package files
*.jar
*.war
*.nar
*.ear

# Log files
*.log
*.csv
*.html

# IDE specific files
.idea/
.vscode/
*.iml
*.iws
.settings/
.classpath
.project

# Oracle specific
tnsnames.ora
sqlnet.ora
*.wallet
*.jks

# Build directories
target/
build/
out/


# Mac specific files
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent